<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.erikphansen.LaunchBar.action.ConvertToBase-16</string>
	<key>CFBundleName</key>
	<string>Convert to Hexadecimal (Base-16)</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>LBArgument</key>
	<string>String representation of a base-10 number</string>
	<key>LBDescription</key>
	<dict>
		<key>LBArgument</key>
		<string>String representation of a base-10 number</string>
		<key>LBAuthor</key>
		<string>Erik P. Hansen</string>
		<key>LBEmail</key>
		<string>eph@erikphansen.com</string>
		<key>LBResult</key>
		<string>String representation of a base-16 number</string>
		<key>LBSummary</key>
		<string>Converts a number from decimal/Base-10 to hexadecimal/Base-16</string>
		<key>LBTwitter</key>
		<string>@</string>
		<key>LBWebsiteURL</key>
		<string>blog.erikphansen.com</string>
	</dict>
	<key>LBResult</key>
	<string>String representation of a base-16 number</string>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBAcceptedArgumentTypes</key>
			<array>
				<string>string</string>
			</array>
			<key>LBKeepWindowActive</key>
			<true/>
			<key>LBRequiresArgument</key>
			<true/>
			<key>LBResultType</key>
			<string>unknown</string>
			<key>LBReturnsResult</key>
			<true/>
			<key>LBScriptName</key>
			<string>default.js</string>
		</dict>
	</dict>
</dict>
</plist>
